#loginPage {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-header {
    width: 100%;
    float: left;
    text-align: center;
  }
  form {
    width: 300px;
    padding: 30px;
    float: left;
    .form-group {
      margin-bottom: 20px;
      .invalid-feedback {
        font-size: 12px;
        color: red;
        margin-bottom: -10px;
      }
    }
    input {
      width: calc(100% - 30px);
      height: 40px;
      border: 1px solid #ccc;
      background-color: transparent;
      padding: 0 15px;
      background-color: white;
    }
    button {
      width: 100%;
      height: 40px;
      background-color: #5aafe7;
      border: none;
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      line-height: 42px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .b-alert {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(7, 129, 242, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
  }
}
